.enemy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 250px;
  margin: 0.5em;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  border: 3px solid white;
  animation: pulsate_border_enemy 2s ease-out;
  animation-iteration-count: infinite;
}
.enemy-arena {
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
  color: rgb(101, 101, 101);
}

.enemy-arena::before {
  content: "Arena: ";
}

.enemy > .enemy-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  overflow: hidden;
  margin-top: 12px;
}

.enemy img {
  width: 100%;
  height: auto;
}

.enemy > h4 {
  width: 100%;
  text-align: center;

  animation: pulsate_enemy 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.5;
}

@keyframes pulsate_border_enemy {
  0% {
    border-color: white;
  }
  50% {
    border-color: rgba(226, 52, 66, 0.4);
  }
  100% {
    border-color: white;
  }
}

@keyframes pulsate_enemy {
  0% {
    color: rgb(255, 0, 0);
    opacity: 0.5;
  }
  50% {
    color: rgb(213, 4, 255);
    opacity: 1;
  }
  100% {
    color: rgb(255, 0, 0);
    opacity: 0.5;
  }
}
