.world {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(252, 252, 252);
}

.world > h1 {
  width: 100%;
  text-align: center;
  color: rgb(101, 101, 101);
}
